@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@model Tuple<IEnumerable<GermanCourseRegistration.Web.Models.ViewModels.CourseScheduleView>, GermanCourseRegistration.Web.Models.ViewModels.CourseScheduleForStudentView>

@if (signInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin"))
    {
        <div class="container mb-3 d-flex justify-content-center">
            <h3>Course Schedule List</h3>
        </div>
    }
    else
    {
        <div class="container mb-3 d-flex justify-content-center">
            <h3>My Course</h3>
        </div>
        <div class="container mb-3 d-flex justify-content-end">
            <a class="btn btn-info ms-2"
               asp-controller="StudentPersonalInformation"
               asp-action="Add">
                <i class="bi bi-pen"></i> Register for a new course
            </a>
        </div>
    }
}
                    
<div class="container mb-3">
    @if (signInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin"))
        {
            @if (Model.Item1 != null && Model.Item1.Any())
            {
                <table class="table table-hover">
                    <thead>
                        <tr class="table-light">
                            <th>Course Level</th>
                            <th>Course Name</th>
                            <th>Class Type</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var schedule in Model.Item1)
                        {
                            <tr>
                                <td>
                                    @if (schedule.Course != null)
                                    {
                                        @(schedule.Course.Level.ToString() +
                                            "." +
                                            schedule.Course.Part.ToString())
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </td>
                                <td>@schedule.Name</td>
                                <td>@schedule.ClassType</td>
                                <td>@schedule.StartDate</td>
                                <td>@schedule.EndDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No course schedules found!</p>
            }
        }
        else
        {
            @if (Model.Item2 != null)
            {
                <table class="table table-hover">
                    <thead>
                        <tr class="table-light">
                            <th>Name</th>
                            <th>Class Type</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.Item2.Name</td>
                            <td>@Model.Item2.ClassType</td>
                            <td>@Model.Item2.StartDate</td>
                            <td>@Model.Item2.EndDate</td>
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                <p>No registered course found!</p>
            }  
        }
    }
    else
    {
        <h2>Welcome to German Course Registration.</h2>
        <p>Please <b>Log in</b> to start registration for your class.</p>
    } 
</div>